@model WebApplication1.Models.HomeViewModel

<!-- van der Waal Webdesign -->
<!-- https://www.vanderwaal.eu -->

<div class="container bg-white pt-3">
    <div class="row">
        <div class="col text-center">

            <img src="@Model.barcode_base64" />

        </div>
    </div>
    <div class="row">
        <div class="col text-center pt-5 pb-3">

            <a target="_blank" href="https://www.vanderwaal.eu">
                <img src="/images/vdwwd.png" alt="van der Waal Webdesign" title="van der Waal Webdesign" />
            </a>

        </div>
    </div>
</div>